/*
# VIDAA is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# VIDAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# VIDAA platform is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details. The software
# cannot be used for clinical decision making.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Ainhoa Marina Aguado Martin
# Carlos Yagüe Méndez
# Andy Luis Olivares
# Oscar Camara
# Xavier Freixa
# Contributors: 
# Ibai Genua
# Álvaro Fernández-Quilez
# Jordi Mill
# María del Pilar García
*/

.pl-component-viewer-LAAO-implantation{

  
        .body{
            .container-gui-menu{
               
                position: absolute;
                top: 0px;
                z-index: 2;
                right: 0px;
                background-color: transparent;
                input[type=text]{
                    font-size: 8pt;
                    padding-top: 2px;
                    margin-bottom: 4px;
                    padding-right: 2px;
                    padding-bottom: 2px;
                    padding-left: 2px;
                    height: 17px;
                }
                .close-button{
            visibility: hidden;
        }
            }
    
        }
        .toolbar{
         //   background-color: $color-6;
    
            
            a {
                display: block;
                color: white;
                text-align: center;       
            }
            
            a:hover:not(.active) {
                background-color: $color-6;
    
            }
            
            .active {
                background-color: $color-3;
                
            }
            
        }
        }
        
      
    #container-viewer{
        display: block;
        width: 100%;
       
    }
    