.pl-component-viewer-intersection{

}
#Intersection-container-viewer{
    display: block;
    width: 100%;
}
.container-gui-menu{
               
    position: absolute;
    top: 0px;
    z-index: 2;
    right: 0px;
    background-color: transparent;
    input[type=text]{
        font-size: 10pt;
        padding-top: 2px;
        margin-bottom: 4px;
        padding-right: 2px;
        padding-bottom: 2px;
        padding-left: 2px;
        height: 17px;
    }
    .close-button{
visibility: hidden;
}
}